@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

body {
    background: linear-gradient(180deg, #3B456A 0%, #131522 100%);
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.time-counter {
    width:100%;
    position: absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%, -40%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 100;
}

.time-counter .box {
    width: 150px;
    height: 150px;
    text-align:center;
    margin:10px;
    margin-top:50px;
}


.time-counter .box .label {
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: .5rem;
    font-weight: 900;
}

.time-counter .box .number {
    width: 150px;
    height: 150px;
    background: linear-gradient(180deg, #31DBE3 0%, #2367FF 100%);
    box-shadow: 0px 10px 30px rgba(36, 107, 254, 0.4);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    font-size: 5em;
    color: white;
    font-weight: 900;
}

.time-counter .box:last-child .number {
    background: linear-gradient(180deg, #364063 0%, #232B41 100%);
    box-shadow: 0px 10px 30px rgba(13, 26, 70, 0.45);
    border-radius: 30px;
}

.position-absolute {
    position: absolute;
}


svg text:nth-child(1){
    font-family: Lora;
    display:none;
    stroke: #FFF;
    font-size: 50px;
    font-weight: 700;
    stroke-width: 0.3;
    animation: textAnimate 8s  alternate;

}
svg text:nth-child(2){
    font-family: Lora;
    display:none;
    stroke: #FFF;
    font-size: 150px;
    font-weight: 700;
    stroke-width: 0.5;
    animation: textAnimate 8s  alternate;

}

@keyframes textAnimate {
    0% {
        stroke-dasharray: 0 50%;
        stroke-dashoffset: 20%;
        fill: hsla(189, 68%, 75%, 0%)
        
    }

    100% {
        stroke-dasharray: 50% 0;
        stroke-dashoffstet: -20%;
        fill: #fff;
    }

}


canvas {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}




/* responsive area  */

@media (max-width: 480px) {
    svg text:nth-child(1){
        font-size: 65px;
    }
    svg text:nth-child(2){
        font-size: 250px;
        transform: translateY(30%);
    }
}